<div class="bg-custom-blue">
  <div class="flex flex-col justify-center items-center gap-5">
    <h1 class="font-bold text-4xl text-center text-white mt-8">
      Get 10% off your first order
    </h1>
    <small class="text-gray-400">
      Plus get early acces to new launches and out best self-care tips.
    </small>
    <div class="relative w-full max-w-md">
      <input
        type="text"
        placeholder="Email"
        class="w-full px-4 py-3 pr-10 text-white bg-transparent border border-gray-300 rounded-full"
      />
      <button class="absolute inset-y-0 right-4 text-gray-300 hover:text-white">
        ➝
      </button>
    </div>
  </div>

  <div class="flex flex-wrap justify-center gap-[15rem] mt-10">
    <div class="flex flex-col gap-5">
      <h1 class="font-bold text-2xl text-white">Shop</h1>
      <p class="text-gray-400">Hair</p>
      <p class="text-gray-400">Body</p>
      <p class="text-gray-400">Face</p>
      <p class="text-gray-400">Kit</p>
    </div>
    <div class="flex flex-col gap-5">
      <h1 class="font-bold text-2xl text-white">Shop</h1>
      <p class="text-gray-400">Hair</p>
      <p class="text-gray-400">Body</p>
      <p class="text-gray-400">Face</p>
      <p class="text-gray-400">Kit</p>
    </div>
    <div class="flex flex-col gap-5">
      <h1 class="font-bold text-2xl text-white">Our Mission</h1>
      <p class="text-gray-400 w-[12rem]">
        We make the internet's favorite men's products. No harmful chemicals and
        made in the USA.
      </p>
    </div>
    <div>
      <img src="/assets/icon/50252.jpg" alt="" class="h-[5rem] w-[5rem]" />
    </div>
  </div>

  <div class="flex justify-center gap-5 m-20">
    <img
      src="assets/icon/facebook.png"
      alt=""
      class="bg-white rounded-full h-[3rem] w-[3rem] hover:cursor-pointer"
    />
    <img
      src="assets/icon/twitter.png"
      alt=""
      class="bg-white rounded-full h-[3rem] w-[3rem] hover:cursor-pointer"
    />
    <img
      src="assets/icon/instagram.png"
      alt=""
      class="bg-white rounded-full h-[3rem] w-[3rem] hover:cursor-pointer"
    />
    <img
      src="assets/icon/youtube.png"
      alt=""
      class="bg-white rounded-full h-[3rem] w-[3rem] hover:cursor-pointer"
    />
  </div>

  <hr class="vertical-line" />

  <div class="flex justify-center gap-5 mt-20">
    <small class="text-gray-200 mb-20"
      >© 2025, theme-refresh-demo Powered by Shopify</small
    >
  </div>
</div>
