<div class="bg-custom-blue text-white mt-10">
  <div class="flex flex-col justify-center items-center gap-10">
    <p class="font-bold text-gray-400 mt-8">WHY CHOOSE REFRESH?</p>
    <h1 class="font-bold text-4xl text-center max-w-3xl">
      We make the world's best-smelling men's products. They're 100% vegan, no
      harmful chemicals and made in the USA.
    </h1>
    <div class="flex flex-wrap justify-center gap-10">
      <div class="flex flex-col items-center gap-5">
        <img src="https://placehold.co/100x100" alt="" class="rounded-full" />
        <h1 class="font-bold text-1xl text-center w-48">
          Natural ingredients that work.
        </h1>
        <small class="max-w-60 text-center text-gray-400">
          The formulas are sophisticated. They have an effortless quality to
          them.
        </small>
      </div>
      <div class="flex flex-col items-center gap-5">
        <img src="https://placehold.co/100x100" alt="" class="rounded-full" />
        <h1 class="font-bold text-1xl text-center w-48">
          Natural ingredients that work.
        </h1>
        <small class="max-w-60 text-center text-gray-400">
          The formulas are sophisticated. They have an effortless quality to
          them.
        </small>
      </div>
      <div class="flex flex-col items-center gap-5 mb-10">
        <img src="https://placehold.co/100x100" alt="" class="rounded-full" />
        <h1 class="font-bold text-1xl text-center w-48">
          Natural ingredients that work.
        </h1>
        <small class="max-w-60 text-center text-gray-400">
          The formulas are sophisticated. They have an effortless quality to
          them.
        </small>
      </div>
      <div class="flex flex-col items-center gap-5">
        <img src="https://placehold.co/100x100" alt="" class="rounded-full" />
        <h1 class="font-bold text-1xl text-center w-48">
          Natural ingredients that work.
        </h1>
        <small class="max-w-60 text-center text-gray-400">
          The formulas are sophisticated. They have an effortless quality to
          them.
        </small>
      </div>
    </div>
  </div>
</div>
