<div class="relative w-full h-screen bg-gray-900">
  <div
    class="w-full h-full bg-cover bg-center"
    style="background-image: url('https://placehold.co/600x400')"
  >
    <div
      class="absolute inset-0 flex items-center justify-center bg-black bg-opacity-40"
    >
      <div
        class="text-center text-black p-6 bg-white rounded-lg max-w-lg mx-auto h-[16rem]"
      >
        <h2 class="text-4xl font-bold mb-4">Your hair, but better.</h2>
        <p class="text-lg mb-6">
          Lather up with our newest shampoo for clean, strong, and healthy hair.
        </p>
        <button
          class="bg-custom-blue hover:bg-blue-900 text-white px-4 py-2 rounded-3xl h-16"
        >
          Shop Shampoo
        </button>
      </div>
    </div>
  </div>
</div>
