<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="bg-page-color">
    <app-navbar></app-navbar>
    <app-hero-section></app-hero-section>
    <app-item-cards></app-item-cards>
    <div
      class="flex flex-wrap md:flex-nowrap max-w-6xl mx-auto justify-center p-6 gap-10 m-10"
    >
      <app-companies
        imageSrc="/assets/icon/forbes.webp"
        para='"The formulas are sophisticated. They have an effortless quality to them."'
      ></app-companies>
      <app-companies
        imageSrc="/assets/icon/themanual.webp"
        para='"The formulas are sophisticated. They have an effortless quality to them."'
      ></app-companies>
      <app-companies
        imageSrc="/assets/icon/gq.webp"
        para='"The formulas are sophisticated. They have an effortless quality to them."'
      ></app-companies>
      <app-companies
        imageSrc="/assets/icon/men.webp"
        para='"The formulas are sophisticated. They have an effortless quality to them."'
      ></app-companies>
    </div>

    <div class="space-y-10 flex flex-col gap-5">
      <app-showing-cards
        imageSrc="/assets/icon/1.webp"
        title="Shampoo"
        para="Lather up with our newest shampoo for clean, strong, and healthy hair."
        buttonText="Shop Shampoo"
        className="flex flex-col-reverse md:flex-row max-w-[70rem] mx-auto justify-between items-center gap-6 bg-white rounded-xl p-6"
        ImageClass="w-full rounded-r-xl"
      ></app-showing-cards>

      <app-showing-cards
        imageSrc="/assets/icon/2.webp"
        title="Shampoo"
        para="Lather up with our newest shampoo for clean, strong, and healthy hair. Lather up with our newest shampoo for clean, strong, and healthy hair."
        buttonText="Shop Shampoo"
        className="flex flex-col-reverse md:flex-row-reverse max-w-[70rem] mx-auto justify-between items-center gap-6 bg-white rounded-xl p-6"
        ImageClass="w-full rounded-l-xl"
      ></app-showing-cards>

      <app-showing-cards
        imageSrc="/assets/icon/1.webp"
        title="Shampoo"
        para="Lather up with our newest shampoo for clean, strong, and healthy hair."
        buttonText="Shop Shampoo"
        className="flex flex-col-reverse md:flex-row max-w-[70rem] mx-auto justify-between items-center gap-6 bg-white rounded-xl p-6"
        ImageClass="w-full rounded-r-xl"
      ></app-showing-cards>

      <app-showing-cards
        imageSrc="/assets/icon/2.webp"
        title="Shampoo"
        para="Lather up with our newest shampoo for clean, strong, and healthy hair. Lather up with our newest shampoo for clean, strong, and healthy hair."
        buttonText="Shop Shampoo"
        className="flex flex-col-reverse md:flex-row-reverse max-w-[70rem] mx-auto justify-between items-center gap-6 bg-white rounded-xl p-6"
        ImageClass="w-full rounded-l-xl"
      ></app-showing-cards>
    </div>
    <div>
      <app-company-banner></app-company-banner>
    </div>
    <div
      class="flex flex-wrap max-w-6xl justify-center mx-auto gap-4 mt-4 mb-4"
    >
      <app-choose-cards></app-choose-cards>
      <app-choose-cards></app-choose-cards>
      <app-choose-cards></app-choose-cards>
    </div>
    <div>
      <app-footer></app-footer>
    </div>
  </div>
</ion-content>
